* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container, [class*="col-"] {
  border: 1px solid red;
  background-color: pink;


}

[class*="col-"] {
  height: 100%;
  border:1px solid black;
  position: relative;

}


[class*="col-"] > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.nested{
  padding: 5px;
}

.nested > div {
background-color: lightcoral;
border: 1px solid #fff;
}


.row {
  height: 300px;
}
